.two-product-table-container{
    width: 100%;
    min-height: 387px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border: 7px solid rgb(173, 128, 5);
    text-decoration-color: rgb(255, 255, 255);
   
    
}



.products-form{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table, tr {
    border: 1px solid rgb(151, 32, 32);
  }